@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-image: url(images/bgimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 10vh 0;
}

.profile-picture {
    align-items: center;
    padding: 1vw;
    margin: auto;
    width: max-content;
}

#icon {
    height: 15vw;
    width: auto;
    border-radius: 100%;
    transition: 0.2s;
}

.info-box {
    text-align: center;
    margin: 1vw;
    font-size: 2vw;
    font-family: "Edu TAS Beginner", cursive;
}

h2 {
    margin: 1.5vw;
}

#description {
    margin: 0;
    font-size: 2.5vw;
}

.link-buttons {
    margin: 0.5vw auto;
    width: max-content;
    padding: 7px;
    transition: 0.2s;
}

.button1,
.button2,
.button3,
.button4,
.button5,
.button6,
.button7 {
    border: 2px solid black;
    margin: 0;
    padding: 1.2vh;
    width: 45vw;
    max-width: 400px;
    border-radius: 25px;
    font-family: "Exo 2", sans-serif;
    font-size: 150%;
    cursor: pointer;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 15px;
    box-shadow: 0.4rem 0.4rem black;
}

.button1 {
    background-image: url(images/instagram_icon.png);
}

.button2 {
    background-image: url(images/linkedin_icon.png);
}

.button3 {
    background-image: url(images/leetcode.png);
}

.button4 {
    background-image: url(images/gmail_icon.png);
}

.button5 {
    background-image: url(images/github_icon.png);
}

.button6 {
    background-image: url(images/portfolio_icon.png);
}

.button-box {
    padding-top: 10px;
    padding-bottom: 30px;
}


.button-tap-effect {
    transform: scale(1.2);
    color: orangered ;
    box-shadow: 0.3rem 0.3rem orangered !important;
    border: 2px solid orangered;
}

.icon-tap-effect {
    transform: scale(1.4);
    border-radius: 0 !important;
    border: 2px solid black;
}

@media (hover: hover) and (pointer: fine) {

    .link-buttons:hover {
        transform: scale(1.4);
    }

    .button1:hover,
    .button2:hover,
    .button3:hover,
    .button4:hover,
    .button5:hover,
    .button6:hover,
    .button7:hover {
        color: orangered;
        box-shadow: 0.4rem 0.4rem orangered;
        border: 2px solid orangered;
    }

    #icon:hover {
        transform: scale(1.4);
        border-radius: 0px;
        border: 4px solid black;
    }
}

@media (max-width: 1024px) {

    body {
        padding: 5vw 0;
    }

    #icon {
        height: 20vw;
    }

    h2 {
        font-size: 4vw;
    }

    #description {
        font-size: 3vw;
    }

    .button1,
    .button2,
    .button3,
    .button4,
    .button5,
    .button6,
    .button7 {
        font-size: 120%;
        width: 30vw;
    }
}

@media (max-width: 768px) {

    body {
        padding: 5vw 0;
    }

    #icon {
        height: 25vw;
    }

    h2 {
        font-size: 5vw;
    }

    #description {
        font-size: 3vw;
    }

    .link-buttons {
        padding: 0;
        margin: 2vw auto;
    }

    .button1,
    .button2,
    .button3,
    .button4,
    .button5,
    .button6,
    .button7 {
        width: 35vw;
        box-shadow: 0.3rem 0.3rem black;
        font-size: 110%;
    }
}

@media (max-width: 480px) {

    body {
        padding: 10vw 0;
    }

    #icon {
        height: 35vw;
    }

    .info-box {
        margin: 4vw 0 1vw;
    }

    h2 {
        font-size: 2rem;
    }

    #description {
        font-size: 0.9rem;
    }

    .link-buttons {
        margin: 1.5vh auto;
        padding: 0;
        font-size: 85%;
    }

    .button1,
    .button2,
    .button3,
    .button4,
    .button5,
    .button6,
    .button7 {
        width: 20vh;
        box-shadow: 0.3rem 0.3rem black;
        background-size: 15% auto;
    }
}